@model IEnumerable<hotelapp_frontend.Models.Habitacion>

@{
    ViewData["Title"] = "Lista de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Habitaciones</h2>

@if (!Model.Any())
{
    <p>Sin habitaciones encontradas.</p>
}
else
{
    <section class="rooms-section spad">
        <div class="container">
            <div class="row">
                @foreach (var habitacion in Model)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="room-item">
                            <div class="ri-text">
                                <h4>@habitacion.IDTipoHabitacion</h4>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Número de Piso:</td>
                                            <td>@habitacion.NumeroPiso</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Disponible:</td>
                                            <td>@(habitacion.Disponible ? "Sí" : "No")</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="@Url.Action("Crear", "Room")" class="primary-btn">Crear</a>
                                <a href="@Url.Action("Detalle", "Room", new { id = habitacion.IDHabitacion })" class="primary-btn">Detalles</a>
                                <a href="@Url.Action("Editar", "Room", new { id = habitacion.IDHabitacion })" class="primary-btn">Editar</a>
                                <a href="@Url.Action("Eliminar", "Room", new { id = habitacion.IDHabitacion })" class="primary-btn">Eliminar</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}
