@model IEnumerable<hotelapp_frontend.Models.Habitacion>


@{
    ViewData["Title"] = "Rooms Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="rooms-section spad">
    <div class="container">
        <div class="row">
            @foreach (var habitacion in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="room-item">
                        <img src="@habitacion.Path_Img" alt="">
                        <div class="ri-text">
                            <h4>@habitacion.NombreHabitacion</h4>
                            <h3>@habitacion.CostoNoche<span> /Colones</span></h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Capacitidad:</td>
                                        <td>Max persion @habitacion.CantPersonas</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Disponible:</td>
                                        <td>@(habitacion.Disponible ? "Sí" : "No")</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="@Url.Action("Crear", "Room")" class="primary-btn">Create</a>
                            <a href="@Url.Action("Detalle", "Room", new { id = habitacion.IDHabitacion })" class="primary-btn">Details</a>
                            <a href="@Url.Action("Editar", "Room", new { id = habitacion.IDHabitacion })" class="primary-btn">Edit</a>
                            <a href="@Url.Action("Eliminar", "Room", new { id = habitacion.IDHabitacion })" class="primary-btn">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>


