@model hotelapp_frontend.Models.Reservaciones

@{
    ViewData["Title"] = "Reservation Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Reservation Details</h2>
    <dl class="row">
        <dt class="col-sm-3">Reservation Number:</dt>
        <dd class="col-sm-9">@Model.IDReservacion</dd>

        <dt class="col-sm-3">Room ID:</dt>
        <dd class="col-sm-9">@Model.IDHabitacion</dd>

        <dt class="col-sm-3">User:</dt>
        <dd class="col-sm-9">User @Model.IDUsuario</dd>

        <dt class="col-sm-3">Nights:</dt>
        <dd class="col-sm-9">@Model.CantidadNoches</dd>

        <dt class="col-sm-3">Start Date:</dt>
        <dd class="col-sm-9">@Model.FechaInicio.ToShortDateString()</dd>

        <dt class="col-sm-3">End Date:</dt>
        <dd class="col-sm-9">@Model.FechaFin.ToShortDateString()</dd>

        <dt class="col-sm-3">Total Cost:</dt>
        <dd class="col-sm-9">₡@Model.Costo_Total</dd>
    </dl>

    <div class="row">
        <div class="col-md-12">
            <a asp-action="ReservacionesAdmin" class="btn btn-primary">Back to Reservations</a>
        </div>
    </div>
</div>
